.mapa {
    height: 70vh;
    width: 100%;
    position: relative;

    .container_mapa {
        height: 100%;
        width: 100%;
        background-color: #eaeaea;
        position: absolute;

        display: flex;
        justify-content: center;
        align-items: center;

        .leaflet-container {
            height: 70vh;
            width: 99%;
        }

        @media screen and (max-width: 768px) {
            height: 100%; /* Ajuste a altura para telas menores */
        }

        @media screen and (max-width: 576px) {
            height: 100%; /* Ajuste ainda mais a altura para telas ainda menores */
        }
    }
}
